<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Passport Local strategy</title>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="/css/custom.css">

  </head>
  <body>
    <div class="container" style="margin-bottom: 100px">
<div class="text-center reg_msg">
  <h2 style="color:#808080"><span>SIGN UP</span></h2>

  <span><%= message %></span>
</div></br>

<div class="row signup">
  <form action="/signup" method="post">
    <div class="row form-group input_group">
      <div class="col-sm-12">
        <input class="form-control" type="text" name="name" id="fullname"
        placeholder="Fullname">
      </div>
      </div>

      <div class="row form-group input_group">
        <div class="col-sm-12">
          <input class="form-control" type="email" name="email" id="email"
          placeholder="Email">
        </div>
        </div>



      <div class="row form-group input_group">
        <div class="col-sm-12">
          <input class="form-control" type="password" name="password" id="password"
          placeholder="Password">
        </div>
        </div>

        <div class="row form-group">
          <div class="col-sm-12">
            <input class="form-control btn btn-primary" type="submit" name="submit" id="sign_up"
            value="SIGN UP">
          </div>
          </div>
        </form>
      </div>
    </div>
      </div>

      <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
